static/app/views/job.pug
//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'job'
    - var selectedMenu = ''
    - var selectedSubMenu = ''

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 Faire carrière chez
                        span(style="display:inline-block; max-width:160px; padding-left:10px")
                            img(src='/assets/media/images/logo-thais.svg' alt='THAÏS')
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li Faire carrière chez THAÏS
        .hero-second-illus
                .hero-bg(style="background:url(/assets/media/images/uploads/2018/03/visu-job.jpg); background-size:cover; background-position:center 100%")
    section.page-content
        .row
                .large-12.medium-12.small-12.column
                    .job-wrapper
                        ul.job-lists
                            li
                                .job-item
                                    article
                                        .row
                                            .large-2.medium-2.small-12.column
                                                span.label.hide Titre
                                                h2 Responsable de site
                                            .large-2.medium-2.small-12.column
                                                span.label.hide Ville
                                                span.city-name Casablanca, Rabat, Marrakech
                                            .large-12.medium-12.small-12.column.hide.js-toggle-content
                                                .toggle-content
                                                    span.label.hide Mission :
                                                    dl
                                                        dt Gestion technique :
                                                        dd Négociation, passation, suivi des marchés des prestataires
                                                        dd Gestion des travaux d’entretien et de maintenance
                                                        dt Gestion administrative et juridique :
                                                        dd Tenue des assemblées générales et suivi des dossiers en contentieux
                                                        dd Élaboration et envoi de l’ensemble des documents relatifs aux AG
                                                        dt Gestion financière :
                                                        dd Tenue de la comptabilité de la copropriété & établissement du budget
                                                        dd Appel des provisions
                                                        dd Paiement des factures
                                            .large-4.medium-4.small-12.column
                                                span.label.hide profile
                                                span.profil-desc
                                                    em Bac+5 en ingénierie et/ou management
                                                    em 3 ans d’expérience dans l’immobilier
                                            .large-4.medium-4.small-12.column
                                                .cta
                                                    a(href="" class="js-toggle-post") <span>Plus de détails</span><span>Moins de détails</span>
                                                    a(href="") Postuler maintenant

                            li
                                .job-item
                                    article
                                        .row
                                            .large-2.medium-2.small-12.column
                                                span.label.hide Titre
                                                h2 Facility Managers seniors
                                            .large-2.medium-2.small-12.column
                                                span.label.hide Ville
                                                span.city-name Casablanca
                                            .large-12.medium-12.small-12.column.hide.js-toggle-content
                                                .toggle-content
                                                    span.label.hide Mission :
                                                    p Dans le cadre de son développement, THAÏS recherche des Facility Managers seniors pour le pilotage de la maintenance multi-techniques et les prestations multi-services sur de actifs immobiliers tertiaires à Casablanca.
                                            .large-4.medium-4.small-12.column
                                                span.label.hide profile
                                                span.profil-desc
                                                    em Bac+5 en ingénierie et/ou management
                                                    em 3 ans d’expérience dans l’immobilier
                                            .large-4.medium-4.small-12.column
                                                .cta
                                                    a(href="" class="js-toggle-post") <span>Plus de détails</span><span>Moins de détails</span>
                                                    a(href="") Postuler maintenant



        .row.expanded
            .large-12.medium-12.small-12
                div.condidature-wraper
                    .desc
                        h2 à la recherche d’un emploi
                        p Rejoignez-nous en postant directement sur notre site et essayez d'intégrer une équipe dynamique et efficace!
                    .cta
                        a(href="")
                            span Candidature spontanée

static/build/job.html
<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- COMMON TAGS-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <!-- BEGIN SEOmatic rendered SEO Meta-->
    <title>Spécialiste de la gestion immobilière | THAÏS</title>
    <!-- {% if craft.config.devMode %}[devMode] {% endif %}{% if seomaticSiteMeta.siteSeoTitlePlacement == "before" %}{{ seomaticSiteMeta.siteSeoName |raw }}{% if seomaticMeta.seoTitle %} {{ seomaticSiteMeta.siteSeoTitleSeparator }} {% endif %}{% endif %}{{ seomaticMeta.seoTitle |raw }}{% if seomaticSiteMeta.siteSeoTitlePlacement == "after" %}{% if seomaticMeta.seoTitle %} {{ seomaticSiteMeta.siteSeoTitleSeparator }} {% endif %}{{ seomaticSiteMeta.siteSeoName |raw }}{% endif %}-->
    <!-- Standard SEO-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="robots" content="all">
    <!-- {{ seomaticMeta.robots }}-->
    <meta name="keywords" content="Gestion immobilière, Asset Management, Property Management, Facility Management, Project Management, Gestion locative, Gestion de copropriétés, Maintenance multi-techniques, biens immobiliers">
    <!-- {{ seomaticMeta.seoKeywords }}-->
    <meta name="description" content="THAÏS est un acteur majeur du Property Management et du Facility Management sur le territoire marocain.">
    <!-- {{ seomaticMeta.seoDescription }}-->
    <meta name="generator" content="SEOmatic">
    <!-- SEOmatic-->
    <link rel="canonical" href="https://www.thais.ma/">
    <!-- {{ seomaticMeta.canonicalUrl }} (defaults to craft.request.url)-->
    <link rel="alternate" href="https://www.thais.ma/" hreflang="x-default">
    <meta name="geo.region" content="Casablanca">
    <!-- {{ seomaticIdentity.address.addressRegion }}-->
    <meta name="geo.position" content="33.592998,-7.620568">
    <!-- {{ seomaticIdentity.location.geo.latitude }},{{ seomaticIdentity.location.geo.longitude }}-->
    <meta name="ICBM" content="33.592998,-7.620568">
    <!-- {{ seomaticIdentity.location.geo.latitude }},{{ seomaticIdentity.location.geo.longitude }}-->
    <meta name="geo.placename" content="THAÏS">
    <!-- {{ seomaticIdentity.location.name }}-->
    <!-- Dublin Core basic info-->
    <meta name="dcterms.Identifier" content="https://www.thais.ma/">
    <!-- {{ seomaticMeta.canonicalUrl }} (defaults to craft.request.url)-->
    <meta name="dcterms.Format" content="text/html">
    <!-- text/html-->
    <meta name="dcterms.Relation" content="THAÏS">
    <!-- {{ seomaticSiteMeta.siteSeoName }}-->
    <meta name="dcterms.Language" content="fr">
    <!-- {{ craft.locale }}-->
    <meta name="dcterms.Publisher" content="THAÏS">
    <!-- {{ seomaticSiteMeta.siteSeoName }}-->
    <meta name="dcterms.Type" content="text/html">
    <!-- text/html-->
    <meta name="dcterms.Coverage" content="https://www.thais.ma/">
    <!-- {{ siteUrl }}-->
    <meta name="dcterms.Rights" content="Copyright ©2018 THAÏS.">
    <!-- {{ seomaticHelper.ownerCopyrightNotice }}-->
    <meta name="dcterms.Title" content="Spécialiste de la gestion immobilière">
    <!-- {{ seomaticMeta.seoTitle }}-->
    <meta name="dcterms.Creator" content="Sikoro">
    <!-- {{ seomaticCreator.name }}-->
    <meta name="dcterms.Subject" content="Gestion immobilière, Asset Management, Property Management, Facility Management, Project Management, Gestion locative, Gestion de copropriétés, Maintenance multi-techniques, biens immobiliers">
    <!-- {{ seomaticMeta.seoKeywords }}-->
    <meta name="dcterms.Contributor" content="THAÏS">
    <!-- {{ seomaticSiteMeta.siteSeoName }}-->
    <meta name="dcterms.Date" content="2018-03-22">
    <!-- {{ now | date('Y-m-d') }}-->
    <meta name="dcterms.Description" content="THAÏS est un acteur majeur du Property Management et du Facility Management sur le territoire marocain.">
    <!-- {{ seomaticMeta.seoDescription }}-->
    <!-- Facebook OpenGraph-->
    <meta property="og:type" content="website">
    <!-- {{ seomatic.og.type }}-->
    <meta property="og:locale" content="fr_FR">
    <!-- {{ seomatic.og.locale }}-->
    <meta property="og:url" content="http://lesparquets.sikoro.ma">
    <!-- {{ seomatic.og.url }}-->
    <meta property="og:title" content="Spécialiste de la gestion immobilière | THAÏS">
    <!-- {{ seomatic.og.title }}-->
    <meta property="og:description" content="THAÏS est un acteur majeur du Property Management et du Facility Management sur le territoire marocain.">
    <!-- {{ seomatic.og.description }}-->
    <meta property="og:image" content="https://www.thais.ma/wp-content/themes/thais/assets/media/share/Fb-thais-Share-Image@2X-2.png">
    <!-- {{ seomatic.og.image }}-->
    <meta property="og:image:type" content="image/png">
    <!-- {{ seomatic.og.image:type }}-->
    <meta property="og:image:width" content="2400">
    <!-- {{ seomatic.og.image:width }}-->
    <meta property="og:image:height" content="1260">
    <!-- {{ seomatic.og.image:height }}-->
    <meta property="og:site_name" content="THAÏS">
    <!-- {{ seomatic.og.site_name }}-->
    <meta property="og:see_also" content="https://twitter.com/THAIS_Maroc">
    <!-- {{ seomatic.og.see_also[0] }}-->
    <meta property="og:see_also" content="https://web.facebook.com/THAIS-Maroc">
    <!-- {{ seomatic.og.see_also[1] }}-->
    <meta property="og:see_also" content="https://www.linkedin.com/company-beta/10635970/">
    <!-- {{ seomatic.og.see_also[2] }}-->
    <!-- Twitter Card-->
    <meta name="twitter:card" content="summary_large_image">
    <!-- {{ seomatic.twitter.card }}-->
    <meta name="twitter:site" content="@https://twitter.com/THAIS_Maroc">
    <!-- {{ seomatic.twitter.site }}-->
    <meta name="twitter:creator" content="@https://twitter.com/THAIS_Maroc">
    <!-- {{ seomatic.twitter.creator }}-->
    <meta name="twitter:title" content="Spécialiste de la gestion immobilière | THAÏS">
    <!-- {{ seomatic.twitter.title }}-->
    <meta name="twitter:description" content="THAÏS est un acteur majeur du Property Management et du Facility Management sur le territoire marocain.">
    <!-- {{ seomatic.twitter.description }}-->
    <meta name="twitter:image" content="https://www.thais.ma/wp-content/themes/thais/assets/media/share/Fb-thais-Share-Image@2X.png">
    <!-- {{ seomatic.twitter.image }}-->
    <!-- Humans.txt authorship http://humanstxt.org-->
    <link type="text/plain" rel="author" href="/humans.txt">
    <!-- Domain verification-->
    <meta name="google-site-verification" content="8f9fd1b8d8831864">
    <!-- {{ seomaticHelper.ownerGoogleSiteVerification }}-->
    <!-- Google Tag Manager-->
    <!-- Google Analytics-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.thais.ma/wp-content/themes/thais/assets/media/share/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.thais.ma/wp-content/themes/thais/assets/media/share/favicon-16x16.png">
    <link rel="manifest" href="https://www.thais.ma/wp-content/themes/thais/assets/media/share/site.webmanifest">
    <link rel="mask-icon" href="https://www.thais.ma/wp-content/themes/thais/assets/media/share/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#AC1652">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-115209706-1', 'auto', {allowLinker: true});
      ga('require', 'displayfeatures');
      ga('require', 'linkid');
      ga('require', 'linker');
      ga('send', 'pageview');
    </script>
    <!-- END SEOmatic rendered SEO Meta-->
    <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <link rel="stylesheet" href="/assets/styles/styles.css">
  </head>
  <body class="job"><a class="c-nav__close" href=""></a>
    <header>
      <div class="header-content">
        <div class="row">
          <div class="columns">
            <div class="head-col">
              <div class="top-bar">
                <ul id="top-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-910 first"><a href="http://thais.ma/blog/" data-level="1"><span class="menu-item-text"><span class="menu-text">Actualité</span></span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-911"><a href="job.html" data-level="1"><span class="menu-item-text"><span class="menu-text">Carrière</span></span></a></li>
                </ul>
              </div>
              <div class="soc-ico"><a class="facebook" title="Facebook" href="https://web.facebook.com/THAIS-Maroc-123885027990820/?fref=ts&amp;_rdr" target="_blank"><i class="c-fsik__icon--facebook"></i></a><a class="twitter" title="Twitter" href="https://twitter.com/THAIS_Maroc" target="_blank"><i class="c-fsik__icon--twitter"></i></a><a class="linkedin" title="LinkedIn" href="https://www.linkedin.com/company-beta/10635970/" target="_blank"><i class="c-fsik__icon--linkedin"></i></a></div>
            </div>
            <div class="logo align-right"><a href="index.html"><img class="preload-me" src="/assets/media/images/logo-thais.svg" alt="THAÏS"></a></div>
            <div class="o-nav">
              <ul class="c-nav__level0">
                <li><a href="/index.html">Accueil</a>
                </li>
                <li><a class="has-submenu" href="#">Qui sommes nous?</a>
                  <div class="c-nav__show"><span class="c-fsik__icon--arrowRight"></span></div>
                  <ul class="c-nav__level1">
                    <li class="c-nav__hide"><span class="c-fsik__icon--arrowLeft"></span><span class="c-text">Qui sommes nous?</span></li>
                    <li><a href="le-groupe.html">Group</a></li>
                    <li><a href="lentreprise.html">l'entreprise</a></li>
                  </ul>
                </li>
                <li><a class="has-submenu" href="#">Nos Métiers</a>
                  <div class="c-nav__show"><span class="c-fsik__icon--arrowRight"></span></div>
                  <ul class="c-nav__level1">
                    <li class="c-nav__hide"><span class="c-fsik__icon--arrowLeft"></span><span class="c-text">Nos Métiers</span></li>
                    <li><a href="asset-management.html">Asset Management</a></li>
                    <li><a href="property-management.html">Property Management</a></li>
                    <li><a href="facility-management.html">Facility Management</a></li>
                    <li><a href="project-management.html">Project Management</a></li>
                  </ul>
                </li>
                <li><a class="has-submenu" href="#">Nos références</a>
                  <div class="c-nav__show"><span class="c-fsik__icon--arrowRight"></span></div>
                  <ul class="c-nav__level1">
                    <li class="c-nav__hide"><span class="c-fsik__icon--arrowLeft"></span><span class="c-text">Nos références</span></li>
                    <li><a href="clients.html">Clients</a></li>
                    <li><a href="actifs-immobiliers.html">Actifs immobiliers</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Nous contacter</a>
                </li>
              </ul>
            </div>
            <div class="c-nav__icon"><span></span></div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="heading">
        <div class="hero-content">
          <div class="hero-inner">
            <hgroup>
              <h1>Faire carrière chez<span style="display:inline-block; max-width:160px; padding-left:10px"><img src="/assets/media/images/logo-thais.svg" alt="THAÏS"></span></h1>
            </hgroup>
            <div class="c-breadcrumb">
              <div class="row expanded">
                <div class="columns">
                  <div class="label">vous êtes ici  :</div>
                  <ul class="c-breadcrumb__list">
                    <li><a href="/">Accueil</a></li>
                    <li>Faire carrière chez THAÏS</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-second-illus">
          <div class="hero-bg" style="background:url(/assets/media/images/uploads/2018/03/visu-job.jpg); background-size:cover; background-position:center 100%"></div>
        </div>
      </section>
      <section class="page-content">
        <div class="row">
          <div class="large-12 medium-12 small-12 column">
            <div class="job-wrapper">
              <ul class="job-lists">
                <li>
                  <div class="job-item">
                    <article>
                      <div class="row">
                        <div class="large-2 medium-2 small-12 column"><span class="label hide">Titre</span>
                          <h2>Responsable de site</h2>
                        </div>
                        <div class="large-2 medium-2 small-12 column"><span class="label hide">Ville</span><span class="city-name">Casablanca, Rabat, Marrakech</span></div>
                        <div class="large-12 medium-12 small-12 column hide js-toggle-content">
                          <div class="toggle-content"><span class="label hide">Mission :</span>
                            <dl>
                              <dt>Gestion technique :</dt>
                              <dd>Négociation, passation, suivi des marchés des prestataires</dd>
                              <dd>Gestion des travaux d’entretien et de maintenance</dd>
                              <dt>Gestion administrative et juridique :</dt>
                              <dd>Tenue des assemblées générales et suivi des dossiers en contentieux</dd>
                              <dd>Élaboration et envoi de l’ensemble des documents relatifs aux AG</dd>
                              <dt>Gestion financière :</dt>
                              <dd>Tenue de la comptabilité de la copropriété & établissement du budget</dd>
                              <dd>Appel des provisions</dd>
                              <dd>Paiement des factures</dd>
                            </dl>
                          </div>
                        </div>
                        <div class="large-4 medium-4 small-12 column"><span class="label hide">profile</span><span class="profil-desc"><em>Bac+5 en ingénierie et/ou management</em><em>3 ans d’expérience dans l’immobilier</em></span></div>
                        <div class="large-4 medium-4 small-12 column">
                          <div class="cta"><a class="js-toggle-post" href=""><span>Plus de détails</span><span>Moins de détails</span></a><a href="">Postuler maintenant</a></div>
                        </div>
                      </div>
                    </article>
                  </div>
                </li>
                <li>
                  <div class="job-item">
                    <article>
                      <div class="row">
                        <div class="large-2 medium-2 small-12 column"><span class="label hide">Titre</span>
                          <h2>Facility Managers seniors</h2>
                        </div>
                        <div class="large-2 medium-2 small-12 column"><span class="label hide">Ville</span><span class="city-name">Casablanca</span></div>
                        <div class="large-12 medium-12 small-12 column hide js-toggle-content">
                          <div class="toggle-content"><span class="label hide">Mission :</span>
                            <p>Dans le cadre de son développement, THAÏS recherche des Facility Managers seniors pour le pilotage de la maintenance multi-techniques et les prestations multi-services sur de actifs immobiliers tertiaires à Casablanca.</p>
                          </div>
                        </div>
                        <div class="large-4 medium-4 small-12 column"><span class="label hide">profile</span><span class="profil-desc"><em>Bac+5 en ingénierie et/ou management</em><em>3 ans d’expérience dans l’immobilier</em></span></div>
                        <div class="large-4 medium-4 small-12 column">
                          <div class="cta"><a class="js-toggle-post" href=""><span>Plus de détails</span><span>Moins de détails</span></a><a href="">Postuler maintenant</a></div>
                        </div>
                      </div>
                    </article>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row expanded">
          <div class="large-12 medium-12 small-12">
            <div class="condidature-wraper">
              <div class="desc">
                <h2>à la recherche d’un emploi</h2>
                <p>Rejoignez-nous en postant directement sur notre site et essayez d'intégrer une équipe dynamique et efficace!</p>
              </div>
              <div class="cta"><a href=""><span>Candidature spontanée</span></a></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer" id="footer">
      <div class="footer-wrap">
        <div class="row expanded">
          <div class="large-3 medium-3 small-12 column">
            <ul>
              <li><a href="http://thais.ma/qui-sommes-nous/lentreprise/">Entreprise</a></li>
              <li><a href="http://thais.ma/nos-references/actifs-immobiliers/">Actifs immobiliers</a></li>
              <li><a href="http://thais.ma/blog/">Actualité</a></li>
              <li><a href="/jobs-2/">Carrière</a></li>
            </ul>
          </div>
          <div class="large-3 medium-3 small-12 column">
            <ul>
              <li><a href="http://thais.ma/nos-metiers/asset-management/">Asset Management</a></li>
              <li><a href="http://thais.ma/nos-metiers/property-management/">Property Management</a></li>
              <li><a href="http://thais.ma/nos-metiers/facility-management/">Facility Management</a></li>
              <li><a href="http://thais.ma/nos-metiers/project-management/">Project Management</a></li>
            </ul>
          </div>
          <div class="large-3 medium-3 small-12 column">
            <div class="contact-info">
              <div><i class="c-fsik__icon--marker"></i><span> CITY PARK CENTER – Porte 4<br>106, rue Abderrahmane Sahraoui 20070 Casablanca – Maroc</span></div>
              <div><i class="c-fsik__icon--tel"></i><span>+212 5 22 77 70 80</span></div>
              <div><i class="c-fsik__icon--fax"></i><span>+212 5 22 77 74 37</span></div>
              <div><i class="c-fsik__icon--mail"></i><span>contact@thais.ma</span></div>
            </div>
          </div>
          <div class="large-3 medium-3 small-12 column">
            <div class="groupe-mention"><span>Une société de</span><a href="http://www.tenorgroup.ma/" target="_blank"><img style="margin:auto;width:70px !important;height:auto;" src="http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/Logo-Teenor-Group.png"></a></div>
          </div>
        </div>
      </div>
      <div class="btm-copyright">
        <div class="footer-wrap">
          <div class="copyright-content"><a href="http://thais.ma/"><img class="preload-me" src="http://thais.ma/wp-content/uploads/2017/01/thais.png" srcset="http://thais.ma/wp-content/uploads/2017/01/thais.png 922w, http://thais.ma/wp-content/uploads/2017/01/thais.png 922w" width="922" height="247" sizes="922px" alt="THAÏS"></a><span>2017 © Tous droits réservés</span></div>
        </div>
      </div>
    </footer><a class="c-action__gototop" href="" title="Haut de page"></a>
    <script type="text/javascript" data-main="/assets/scripts/main.js" src="/assets/scripts/vendor/require.js"></script>
    <!--script(type='text/javascript')// include /assets/scripts/main.min.js
    -->
    <!--script(type='text/javascript' data-main="/assets/scripts/main.js")// include /assets/scripts/vendor/require.js
    -->
  </body>
</html>
